.header {
	margin: 5px 5px 0 5px;
	padding: 10px;
	border: 5px solid silver;
	border-radius: 0 30px 0 30px;
}
.header__container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__wrapper {

}
.header__wrap {
}
.header__input {
}
.header__title {
}
.header__nav {
}
.header__items {
	display: flex;

}
.header__item {
	padding: 10px;
	border: 3px solid silver;
	border-radius: 0 20px 0 20px;
}
.header__item-active {
}